@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@
<div class="article">
    <h1>Meet Our Team</h1>
    <h4>
        Each of us is on a mission to slow down, stay present,
        live life to the fullest and to help you do the same.
    </h4>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="article">
            <h2>Director</h2>
            <p>
                An Artist that loves taking photos of people enjoying life. ~ Jenny Johnson
            </p>
            <img src="~/Images/london-scout-27290.jpg" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="article">
            <h2>Author</h2>
            <p>
                A family man that gets outside every change he gets.  ~ Danny Denson
            </p>
            <img src="~/Images/AOMRJ0OTP7.jpg" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="article">
            <h2>Author</h2>
            <p>
                A born explorer.  ~ Ramona Robertson
            </p>
            <img src="~/Images/G1B2UDG3E6.jpg" />
        </div>
    </div>
</div>


