@{
    ViewBag.Title = "Contact";
}
<h1>Contact Us</h1>
<h3>Got questions?  Need more help planning?  Here's how to get in touch.</h3>

<address>
    Great Day Trips<br />
    311 Helping You Escape Blvd.<br />
    Elyria, OH 98052-6399<br />
    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
    216.555.0100 
</address>

<address>
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
   <a href="mailto:Support@greatdaytrips.com">readytohelp@greatdaytrips.com</a><br />
</address>
<hr>
<img src="~/Images/annie-spratt-223429.jpg" />
