@{
    ViewBag.Title = "Home Page";
}
@*First: Display main picuture, the map as a jumbotron (large background image)*@
<div class="jumbotron">
    <h1>Great Day Trips</h1>
    @*<img src="~/Images/171KGI3VPL.jpg" />*@
    <p class="lead">
        Too busy to take a vacation?  Too broke to pay for a week in the bahamas?
        Discover incredible finds a day's drive from Northeast Ohio?
    </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Discover Fun! &raquo;</a></p>*@
</div>
@*Second: three columns with three articles (image, paragraph and button)*@
<div class="row">
    <div class="col-md-4">
        <div class="article">
            <img src="~/Images/Y2KCFMGHD1.jpg" />
            <h3>Alone Time</h3>
            <p>
                Great places to go when you need to carve away some time just for yourself.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Explore &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="article">
            <img src="~/Images/R0BZTCYBM6.jpg" />
            <h3>Need Help?</h3>
            <p>
                If the thought of planning even a quick, day trip is overwhelming, not your thing or if you just don't have the 
                time, you can still enjoy a great getaway using our trip planner.  Just enter your budget, time of year, and 
                interests and answer a few other questions to get a trip including details and itenerary created 
                just for you! .
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Get Help &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="article">
            <img src="~/Images/3HCIBRN2N6.jpg" />
            <h3>Frugal Fun</h3>
            <p>Don't let your budget get in the way of getting away with your family.  
               Find numerous tips on how to make it happen on a dime.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Explore &raquo;</a></p>
        </div>
    </div>
</div>
